/* Fonts */

$ff-hero-title: 'Source Sans Pro', sans-serif;
$ff-hero-body: 'Roboto', sans-serif;
$ff-btn: 'Source Sans Pro', sans-serif;

$fs-btn: 18px;
$fw-btn: 700;

/* Gaps */

$gap-1: 6px;
$gap-2: 12px;
$gap-3: 24px;

:root {
  --fs--hero-title: clamp(21px, calc(9.5vw + 0.01rem), 54px);
  --fs--hero-subtitle: 20px;
  --fs--hero-body: 22px;
  --fs--hero-btn: 18px;
  --fs--body: 18px;
  --gap-1: 6px;
  --gap-2: 12px;
  --gap-3: 24px;
}

// $fs-hero: clamp(0.53125rem, calc(17.1375vw + 0.01rem), 5rem);

// @media (min-width: 160px) {
//   $fs-title: clamp(0.57rem, calc(4.95vw + 0.01rem), 3.175rem);
// }

// @media (min-width: 640px) {
//   $fs-title: clamp(1rem, calc(2.35vw + 0.01rem), 1.375rem);
// }
