@use 'mixins' as *;

.container {
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.stretched-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 55;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  line-height: 1.1;
  text-rendering: optimizeSpeed;
}

// .snippet {
//   @include flex(center, center);
//   flex-direction: column;
// }

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
