$nassil-pink: hsla(328, 100%, 55%, 1);
$main-color: hsla(208, 75%, 30%, 1);
$btn-color: hsla(208, 75%, 30%, 1);

$neutral-000: hsla(0, 0%, 100%, 1);
$neutral-100: hsla(0, 0%, 90%, 1);
$neutral-200: hsla(0, 0%, 80%, 1);
$neutral-300: hsla(0, 0%, 70%, 1);
$neutral-400: hsla(0, 0%, 60%, 1);
$neutral-500: hsla(0, 0%, 50%, 1);
$neutral-600: hsla(0, 0%, 40%, 1);
$neutral-700: hsla(0, 0%, 30%, 1);
$neutral-800: hsla(0, 0%, 20%, 1);
$neutral-900: hsla(0, 0%, 10%, 1);
$neutral-1000: hsla(0, 0%, 0%, 1);
