/* ======================
  # Resets
  ====================== */
/* Box sizing rules */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  } */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.stretched-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 55;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  line-height: 1.1;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Fonts */
/* Gaps */
:root {
  --fs--hero-title: clamp(21px, calc(9.5vw + 0.01rem), 54px);
  --fs--hero-subtitle: 20px;
  --fs--hero-body: 22px;
  --fs--hero-btn: 18px;
  --fs--body: 18px;
  --gap-1: 6px;
  --gap-2: 12px;
  --gap-3: 24px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes from-top {
  0% {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes from-bottom {
  0% {
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes from-bottom-far {
  0% {
    -ms-transform: translateY(1000px);
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -o-transform: translateY(1000px);
    transform: translateY(1000px);
  }
  100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes from-left {
  0% {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes from-right {
  0% {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes rotate-to-right-90 {
  0% {
    -ms-transform: rotate(-90deg) scale(0.7);
    -webkit-transform: rotate(-90deg) scale(0.7);
    -moz-transform: rotate(-90deg) scale(0.7);
    -o-transform: rotate(-90deg) scale(0.7);
    transform: rotate(-90deg) scale(0.7);
  }
  100% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-to-left-90 {
  0% {
    -ms-transform: rotate(90deg) scale(0.7);
    -webkit-transform: rotate(90deg) scale(0.7);
    -moz-transform: rotate(90deg) scale(0.7);
    -o-transform: rotate(90deg) scale(0.7);
    transform: rotate(90deg) scale(0.7);
  }
  100% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
.modal.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100%;
  height: 80vh;
  z-index: 1;
  -ms-transform: translateY(103%);
  -webkit-transform: translateY(103%);
  -moz-transform: translateY(103%);
  -o-transform: translateY(103%);
  transform: translateY(103%);
  will-change: transform;
  background-color: whitesmoke;
}

.btn {
  position: relative;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 0.5em 1.25em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-icon {
  display: -moz-inline-stack;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 4px;
}

.btn-link {
  display: -moz-inline-stack;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

/*Question*/
.question {
  display: block;
  width: 100%;
  padding: 12px;
  background: #f9f9f9;
  cursor: pointer;
}

/*Answer*/
.answers {
  height: 0;
  width: 100%;
  padding: 0px 15px;
  margin: 5px 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.modal {
  position: fixed;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100%;
  min-height: 450px;
  height: 55vh;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 555;
}

.modal.visible {
  -ms-transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.modal.trajet {
  background-color: whitesmoke;
}

.modal.contact {
  background-color: rgb(117, 95, 214);
}

.visible.animation {
  -webkit-transition: transform 330ms ease-out;
  -moz-transition: transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
}

.animation {
  -webkit-transition: transform 130ms ease-out;
  -moz-transition: transform 130ms ease-out;
  -o-transition: transform 130ms ease-out;
  transition: transform 130ms ease-out;
}

/* ======================
  # Home
  ====================== */
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 477px;
  background-color: rgb(119, 119, 119);
  z-index: 777;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 185px;
  background-color: rgb(119, 119, 119);
  z-index: 777;
}

/* Header */
header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: hsl(208deg, 75%, 30%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
  color: white;
  z-index: 999;
}

@supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
  header {
    background-color: hsla(208deg, 100%, 30%, 0.75);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
  }
}
header menu {
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: hsl(208deg, 75%, 20%);
}

.hdr-box {
  background-color: white;
  padding-left: 0.5rem;
}

.hdr-img {
  min-width: 300px;
  width: 300px;
  height: 74px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Hero */
.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 477px;
  min-height: 71.5vh;
  background-color: hsl(208deg, 75%, 30%);
  color: white;
  overflow: hidden;
}

.hero > div {
  position: relative;
  padding: 24px;
}

.hero-animatrix {
  position: relative;
  width: 85%;
  max-width: 580px;
}

.hero-img,
.hero-flacon-1,
.hero-flacon-2,
.medi-note {
  display: none;
}

.hero-snippet {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs--hero-body);
}

.hero-prebox {
  display: table;
  padding: 0.35em 1em;
  margin-bottom: 6px;
  background-color: #e1f4ec;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: black;
  font-size: 19px;
}

.hero-pretitle,
.hero-pretitle_icon {
  display: table-cell;
  vertical-align: middle;
}

.hero-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--fs--hero-title);
  font-weight: 900;
  margin-bottom: 0.375rem;
}

.hero-subtitle {
  display: -moz-inline-stack;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--fs--hero-subtitle);
  font-weight: 600;
}

.location-pin {
  display: -moz-inline-stack;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 20px;
  margin-bottom: 12px;
}

.hero-btn {
  position: relative;
  background-color: #fff;
  color: hsl(208deg, 75%, 30%);
}

.hero-next {
  position: relative;
  display: block;
  max-width: fit-content;
  margin-top: 12px;
}

.hero-next:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 15%;
  width: 85%;
  height: 1px;
  background-color: rgb(245, 245, 245);
}

.toggle.main.contact {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  z-index: 666;
}

.toggle.main.contact > svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 55%;
}

@media (min-width: 360px) {
  .hdr-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-prebox {
    display: none;
  }

  .hero-img {
    display: block;
    position: absolute;
    left: 28.714%;
    top: 11.5%;
    width: 49.143%;
  }

  .hero-flacon-1 {
    display: block;
    position: absolute;
    left: 20.429%;
    top: 23.5%;
    width: 10.5%;
  }

  .hero-flacon-2 {
    display: block;
    position: absolute;
    left: 29.143%;
    top: 19.166%;
    width: 5.143%;
  }

  .medi-note {
    display: block;
    position: absolute;
    left: 66.714%;
    top: 74.833%;
    width: 14.286%;
  }
}
@media (min-width: 720px) {
  .hdr-bar {
    display: block;
    height: 40px;
  }

  .hdr-box > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 85px;
  }
}
@media (min-width: 1024px) {
  header menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  header menu > li {
    padding: 12px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  header menu > li:hover {
    background-color: rgb(241, 241, 241);
  }

  .hero {
    min-height: 700px;
    min-height: 80vh;
  }

  .hero > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .hero-snippet {
    order: 1;
    min-width: 480px;
    padding-bottom: 48px;
  }

  .hero-animatrix {
    max-width: 750px;
    order: 2;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fff {
    position: absolute;
    top: 0;
    left: 45%;
    width: 30%;
  }
}
.hero-frame-ellipses {
  -moz-animation: from-bottom-far 550ms cubic-bezier(0.12, 0.63, 0, 1.03) 660ms;
  -webkit-animation: from-bottom-far 550ms cubic-bezier(0.12, 0.63, 0, 1.03) 660ms;
  -o-animation: from-bottom-far 550ms cubic-bezier(0.12, 0.63, 0, 1.03) 660ms;
  animation: from-bottom-far 550ms cubic-bezier(0.12, 0.63, 0, 1.03) 660ms;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hero-main-ellipse {
  -moz-animation: scale-up 660ms ease-out 330ms;
  -webkit-animation: scale-up 660ms ease-out 330ms;
  -o-animation: scale-up 660ms ease-out 330ms;
  animation: scale-up 660ms ease-out 330ms;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  transform-origin: 50% 80%;
  will-change: scale;
}

.hero-img {
  -moz-animation: fade-in 330ms ease-in 800ms;
  -webkit-animation: fade-in 330ms ease-in 800ms;
  -o-animation: fade-in 330ms ease-in 800ms;
  animation: fade-in 330ms ease-in 800ms;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hero-flacon-1 {
  -moz-animation: fade-in 460ms ease-in 530ms, rotate-to-right-90 330ms ease-out 660ms;
  -webkit-animation: fade-in 460ms ease-in 530ms, rotate-to-right-90 330ms ease-out 660ms;
  -o-animation: fade-in 460ms ease-in 530ms, rotate-to-right-90 330ms ease-out 660ms;
  animation: fade-in 460ms ease-in 530ms, rotate-to-right-90 330ms ease-out 660ms;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hero-flacon-2 {
  -moz-animation: fade-in 330ms ease-in 660ms, rotate-to-left-90 330ms ease-out 660ms;
  -webkit-animation: fade-in 330ms ease-in 660ms, rotate-to-left-90 330ms ease-out 660ms;
  -o-animation: fade-in 330ms ease-in 660ms, rotate-to-left-90 330ms ease-out 660ms;
  animation: fade-in 330ms ease-in 660ms, rotate-to-left-90 330ms ease-out 660ms;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
