@use '../base' as *;

.btn {
  position: relative;
  cursor: pointer;
  @include inline-block();
  padding: 0.5em 1.25em;
  @include radius(3px);
}

.btn-icon {
  @include inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.btn-link {
  @include inline-block;
  vertical-align: middle;
  font-family: $ff-btn !important;
  font-weight: $fw-btn !important;
  font-size: $fs-btn !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
