@use '../base' as *;
@use '../components' as *;
@use '../layout' as *;
@use '../animatrix' as *;

/* ======================
  # Home
  ====================== */

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 477px;
  background-color: rgb(119, 119, 119);
  z-index: 777;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 185px;
  background-color: rgb(119, 119, 119);
  z-index: 777;
}

/* Header */
header {
  @include sticky;
  top: 0;
  width: 100%;
  background-color: $main-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
  color: white;
  z-index: 999;
}

@supports ((backdrop-filter: blur()) or (-webkit-backdrop-filter: blur())) {
  header {
    background-color: hsla(208, 100%, 30%, 0.75);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
  }
}

header menu {
  display: none;
  font-family: $ff-hero-title;
  font-size: 17px;
  font-weight: 700;
  color: hsla(208, 75%, 20%, 1);
}

.hdr-box {
  background-color: white;
  padding-left: 0.5rem;
}

.hdr-img {
  min-width: 300px;
  width: 300px;
  height: 74px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Hero */

.hero {
  position: relative;
  @include flex;
  @include align(center);
  min-height: 477px;
  min-height: 71.5vh;
  background-color: $main-color;
  color: white;
  overflow: hidden;
}
.hero > div {
  position: relative;
  padding: 24px;
}
.hero-animatrix {
  position: relative;
  width: 85%;
  max-width: 580px;
}
.hero-img,
.hero-flacon-1,
.hero-flacon-2,
.medi-note {
  display: none;
}
.hero-snippet {
  font-family: $ff-hero-body;
  font-size: var(--fs--hero-body);
}
.hero-prebox {
  display: table;
  padding: 0.35em 1em;
  margin-bottom: 6px;
  background-color: #e1f4ec;
  @include radius(1em);
  color: black;
  font-size: 19px;
}
.hero-pretitle,
.hero-pretitle_icon {
  display: table-cell;
  vertical-align: middle;
}
.hero-title {
  font-family: $ff-hero-title;
  font-size: var(--fs--hero-title);
  font-weight: 900;
  margin-bottom: 0.375rem;
}
.hero-subtitle {
  @include inline-block;
  vertical-align: middle;
  font-family: $ff-hero-title;
  font-size: var(--fs--hero-subtitle);
  font-weight: 600;
}
.location-pin {
  @include inline-block;
  vertical-align: middle;
  width: 20px;
  margin-bottom: 12px;
}
.hero-btn {
  position: relative;
  background-color: #fff;
  color: $btn-color;
}
.hero-next {
  position: relative;
  display: block;
  max-width: fit-content;
  margin-top: 12px;
}
.hero-next:hover::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 15%;
  width: 85%;
  height: 1px;
  background-color: rgb(245, 245, 245);
}

.toggle.main.contact {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 74px;
  height: 74px;
  @include radius(50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  z-index: 666;
}

.toggle.main.contact > svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 55%;
}

@media (min-width: 360px) {
  .hdr-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .hero-prebox {
    display: none;
  }

  .hero-img {
    display: block;
    position: absolute;
    left: 28.714%;
    top: 11.5%;
    width: 49.143%;
  }
  .hero-flacon-1 {
    display: block;
    position: absolute;
    left: 20.429%;
    top: 23.5%;
    width: 10.5%;
  }
  .hero-flacon-2 {
    display: block;
    position: absolute;
    left: 29.143%;
    top: 19.166%;
    width: 5.143%;
  }
  .medi-note {
    display: block;
    position: absolute;
    left: 66.714%;
    top: 74.833%;
    width: 14.286%;
  }
}

@media (min-width: 720px) {
  .hdr-bar {
    display: block;
    height: 40px;
  }
  .hdr-box > div {
    @include flex;
    @include align(center);
    @include justify(space-between);
    height: 85px;
  }
}
@media (min-width: 1024px) {
  header menu {
    @include flex;
  }
  header menu > li {
    padding: 12px 20px;
    @include radius(3px);
  }
  header menu > li:hover {
    background-color: rgb(241, 241, 241);
  }
  .hero {
    min-height: 700px;
    min-height: 80vh;
  }
  .hero > div {
    @include flex;
    @include align(center);
  }
  .hero-snippet {
    order: 1;
    min-width: 480px;
    padding-bottom: 48px;
  }
  .hero-animatrix {
    max-width: 750px;
    order: 2;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fff {
    position: absolute;
    top: 0;
    left: 45%;
    width: 30%;
  }
}

.hero-frame-ellipses {
  @include animation(
    from-bottom-far 550ms cubic-bezier(0.12, 0.63, 0, 1.03) 660ms
  );
  @include animation-fm(both);
}
.hero-main-ellipse {
  @include animation(scale-up 660ms ease-out 330ms);
  @include animation-fm(both);
  transform-origin: 50% 80%;
  will-change: scale;
}

.hero-img {
  @include animation(fade-in 330ms ease-in 800ms);
  @include animation-fm(both);
}
.hero-flacon-1 {
  @include animation(
    fade-in 460ms ease-in 530ms,
    rotate-to-right-90 330ms ease-out 660ms
  );
  @include animation-fm(both);
}
.hero-flacon-2 {
  @include animation(
    fade-in 330ms ease-in 660ms,
    rotate-to-left-90 330ms ease-out 660ms
  );
  @include animation-fm(both);
}
